chromadb
*.db
*OAI_CONFIG_LIST*
*.pyc
*.pkl
*.sqlite
*.sqlite3
*.log
*.pickle
nb/arxiv_user_proxy/rag_teachablitity/AI_security
*.bin
nb/arxiv_user_proxy/rag_teachablitity/pdf_output
nb/arxiv_user_proxy/rag_teachablitity/pdf_output-2305-17873
nb/arxiv_user_proxy/rag_teachablitity/log.txt
/nb/arxiv_user_proxy/rag_teachablitity/.cache
