chromadb
*.db
*OAI_CONFIG_LIST*
*.pyc
*.pkl
*.sqlite
*.sqlite3
*.log
*.pickle
nb/arxiv_user_proxy/rag_teachablitity/AI_security
*.bin
nb/arxiv_user_proxy/rag_teachablitity/pdf_output
nb/arxiv_user_proxy/rag_teachablitity/pdf_output-2305-17873
nb/arxiv_user_proxy/rag_teachablitity/log.txt
/nb/arxiv_user_proxy/rag_teachablitity/.cache
profiler/ml_profiler/
*.db-shm
*.cache/*
*.env
Ai-Safty/AI_security/0.1.6
Ai-Safty/AI_security
*.cache
Ai-Safty/output-examples
autosearch/notebooks/project_test
deep_quantum_chemistry/NN_quantum_chemistry
nb/1605.08386v1.Heat_bath_random_walks_with_Markov_bases.tar.gz
nb/2010.07683v1.Potentials_and_challenges_of_polymer_informatics__exploiting_machine_learning_for_polymer_design.tar.gz
nb/mydir
polymer_representation/polymer_rep/0.0.1
polymer_representation/polymer_rep
polymer_representation/papers
quantum_computing_science/Quantum_Com
test/example_paper.pdf
autosearch/notebooks/papers
*.egg*
deep_quantum_chemistry/s41586-023-06735-9.pdf
*Zone.Identifier
project_files
autosearch_projects/polymer_representation/papers
autosearch_projects/polymer_representation/polymer_representation/
*logs.db-journal
nb/output
.aider*
proce
proce
ragtest/input
.aider*
azure/gpt-4o
ollama/deepseek-coder-v2
legecy_code
ragtest
lancedb
graphrag_memo
*/cache
autosearch/notebooks/graphrag/cache
autosearch/notebooks/graphrag/input
autosearch/notebooks/graphrag/output
autosearch/notebooks/graphrag/input-txt
autosearch_projects/polymer_degradability/papers
autosearch_projects/polymer_degradability/polymer_degradability/
cache/
autosearch_projects/polymer_degradability/paper/paper
.azDownload-*
*.parquet
tests/test_project_dir
