ipykernel
# unstructured[all-docs]
arxiv
azure-ai-formrecognizer
azure-common
azure-core
azure-functions
azure-identity
tiktoken
langchain
pypdf
markdownify
azure-ai-documentintelligence
chromadb==0.4.23